<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admistratorlogin</servlet-name>
        <servlet-class>admistratorlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout_servlet</servlet-name>
        <servlet-class>logout_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup_servlet</servlet-name>
        <servlet-class>signup_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_login_servlet</servlet-name>
        <servlet-class>User_login_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_deposit</servlet-name>
        <servlet-class>admin_deposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_transfer</servlet-name>
        <servlet-class>user_transfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgot_password</servlet-name>
        <servlet-class>forgot_password</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admistratorlogin</servlet-name>
        <url-pattern>/admistratorlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout_servlet</servlet-name>
        <url-pattern>/logout_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup_servlet</servlet-name>
        <url-pattern>/signup_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_login_servlet</servlet-name>
        <url-pattern>/User_login_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_deposit</servlet-name>
        <url-pattern>/admin_deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_transfer</servlet-name>
        <url-pattern>/user_transfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgot_password</servlet-name>
        <url-pattern>/forgot_password</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
